<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{$author}">
<meta name="robots" content="{$robots}">
<link rel="alternate" href="{$url}" hreflang="cs-CZ"/>
<link rel="canonical" href="{$url}">

<title>{$title|firstUpper}</title>
<meta name="description" content="{$description}">
<meta property="og:title" content="{$title|firstUpper}">
<meta property="og:description" content="{$description|firstUpper}">
<meta property="og:type" content="website">
<meta property="og:url" content="{$url}">
