{if $id !== null}
	<script n:syntax="double" async src="https://www.googletagmanager.com/gtag/js?id={{$id}}"></script>
	<script n:syntax="double">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', {{$id}});
	</script>
{/if}
